*{
  font-family: 'Poppins';
}
.nav{
    background-color: gray;
    margin: 0 0;
    height: 120px;
}
.title{
  margin: 0 0;
  color: #fff;
  text-align: center;
}
.container{
  display: flex;
  align-items: center;
}
.recover-your-account{
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 20px 40px;
  margin: 10% auto;
}
.btn{
  margin-left: 50px;
  padding: 10px 30px;
  margin-top: 30px;
  border-radius: 50px;
  background-color: #ff8000;
  text-decoration: none !important;
  color: #fff;

}