*{
  font-family: 'Poppins';
  color: #fff;
}
body{
  background-color:#3E5A66;
}
body::selection{
  background-color: #D2A456;
}
.inputs{
  color: #000;
}
.nav{
    background-color: #D2A456;
    margin: 0 0;
    height: 120px;
    text-align: center;
}
.title{
  margin: 0 auto;
}
.container{
  display: flex;
  align-items: center;
}

.recover-your-account{
  align-items: center;
  background-color: #A0BEDA;
  color: #fff;
  padding: 20px 40px;
  margin: 10% auto;
}
.btn{
  margin-left: 50px;
  padding: 10px 30px;
  margin-top: 30px;
  border-radius: 50px;
  background-color: #ff8000;
  text-decoration: none !important;
  color: #fff;

}
.btn-inicia{
  margin-left: 50px;
  display: none;
  padding: 10px 30px;
  margin-top: 30px;
  border-radius: 50px;
  background-color: #ff8000;
  text-decoration: none !important;
  color: #fff;

}
.container-phrase{
  text-align: center;
}
.footer{
  margin: 0 0;
  height: 80px;
  color: #fff;
  text-align: center;

}
.footer-link{
    text-decoration: none;
    color: orange;
}
.footer-link:hover{
  text-decoration: none;
  color: #ff8000;
}


@media only screen and (max-width: 1100px) {
  .nav{
      font-size: 15px;
      text-align: center;
      height: 250px;
      
  }
  *{
      font-size: 40px;
    }

 
}   
  @media only screen and (max-width: 500px) {
      .nav{
          font-size: 15px;
          text-align: center;
          height: 300px;
          
      }
      *{
          font-size: 50px  !important;
        }
        .footer{
          margin: 0 0;
          height: 80px;
          color: #000;
          text-align: center;
          margin-top:30% ;
        }

      

  }
  @media only screen and (max-width: 360px) {
    nav {
      width: 360px;
      height: 100px;
      font-size: 25px;
      text-align: center;
      
  }


      
  
    }